extends javascript

# snippet interface
# 	interface $1 {
# 		$0
# 	}
#
# snippet enum
# 	enum $1 {
# 		$0
# 	}
#
# snippet abstract
# 	abstract $1($2) {
# 	}
#
# snippet new
# 	new ($1) {
# 		$0
# 	}

snippet #if
	#if $0
	#end
