# snippet todo
# 	// TODO(bruno): $0

snippet if
	if ($0) {
	}

# snippet else
# 	else $0{
# 	}

snippet while
	while ($0) {
	}

snippet do
	do {
	} while ($0);

snippet for
	for ($0) {
	}

snippet switch
	switch ($0) {
	}

# snippet class
# 	class $0 {
# 	}
#
# snippet cons
# 	constructor ($1) {
# 		$0
# 	}
#
# snippet func
# 	function $1 ($2) {
# 		$0
# 	}
#
# snippet try
# 	try {
# 		$0
# 	} catch (_) {
# 	}
