! Override the *customization: -color line from /etc/X11/Xresources/x11-common
! Remove on regolith?
*customization:

! XTerm.xft: true
! XTerm.xfntAntialias: true

! Enable terminal images with img2sixel
! XTerm*decTerminalID: vt340
! XTerm*numColorRegisters: 256

! Xft.dpi       : 96
! Xft.autohint  : 0
! Xft.lcdfilter : lcddefault
! Xft.hintstyle : hintslight
! Xft.hinting   : 1
! Xft.antialias : 1

! Styling
XTerm.vt100.faceName: DejaVu Sans Mono
XTerm.vt100.boldMode: false
XTerm.vt100.faceSize: 11
XTerm.vt100.internalBorder: 16
XTerm.borderWidth: 0

! Sensible defaults
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm.vt100.scrollTtyOutput: false
XTerm.vt100.scrollKey: true
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.metaSendsEscape: true

! Enables OSC-52 clipboard escape codes (among others).
! TODO(2020-12-13): Enable after considering security issues. Clipboard read access is scary.
! XTerm.vt100.allowWindowOps: true

! ctrl-shift-W picks URLs on the screen and opens the browser
XTerm.vt100.printerCommand: select-url

! Send ^? instead of ^H on backspace. I bind ^H in zsh
XTerm.backarrowKeyIsErase: true

! Nicer selection behavior regarding whitespace
XTerm.vt100.highlightSelection: true
XTerm.vt100.trimSelection: true

! XTerm.termName: xterm-256color
! https://github.com/mono/mono/issues/6752#issuecomment-365212655
! Setting this messes up the fzf prompt in vim
! XTerm.termName: xterm-color

! Key mappings. Remap Shift-space to F13 so that vim can use it
XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>N: scroll-back(1, halfpage) \n\
    Ctrl Shift <Key>T: scroll-forw(1, halfpage) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>H: set-altscreen(toggle) \n\
    Ctrl Shift <Key>W: print(noAttrs, noNewLine) \n\
    Shift <Key>space: string("\033[25~") \n\
    Ctrl Shift <Key>O: string("\033[26~")

! Nord color scheme
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD
*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
