[Desktop Entry]
Name=Lf Archive Viewer
Exec=lf-archive %F
Icon=system-file-manager
Terminal=true
StartupNotify=true
Type=Application
Categories=System;Utility;Core;FileTools;FileManager;
MimeType=application/gzip;application/java-archive;application/x-7z-compressed;application/x-bzip2;application/x-rar;application/x-tar;application/x-xz;application/zip;
NoDisplay=true
